# Builds package and publishes it on npm.
name: CD

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04
    environment: upload

    permissions:
      id-token: write
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: Check out branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all branches

      - name: Use Node.js v24
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install modules
        run: npm ci --no-audit --ignore-scripts

      - name: Verify the integrity of installed dependencies
        run: npm audit signatures

      - name: Lint
        run: npm run lint

      - name: Set up semantic-release
        run: |
          npm install --global --ignore-scripts semantic-release@25.0.3

      - name: Publish release
        run: npx semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
