# Builds the package and runs all tests.
name: CI

on:
  push:
    branches-ignore:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04

    permissions:
      contents: read

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Use Node.js v24
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install modules
        run: npm ci --no-audit --ignore-scripts

      - name: Lint
        run: npm run lint

      - name: Run unit tests
        run: npm run test
